<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Netflix Sign Up</title>
  <link rel="stylesheet" href="register.css">
</head>
<body>
      <header>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix Logo" class="logo">
            <a href="#" class="signin-link">Sign In</a>
      </header>
  <div class="container">
    <div class="main">
      <div class="form-box">
        <h1>Create a password to start your membership</h1>
        <p class="subtitle">Just a few more steps and you're done!<br>We hate paperwork, too.</p>
        
        <form>
          <input type="email" placeholder="Email" required>
          <input type="password" placeholder="Add a password" required>

          <label class="checkbox">
            <input type="checkbox">
            Please do not email me Netflix special offers.
          </label>

          <button type="submit"><a href="">Next</a></button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
